[submodule "taoyao-media-server/mediasoup"]
	path = taoyao-media-server/mediasoup
	url = https://gitee.com/acgist/mediasoup.git
	branch = taoyao
[submodule "taoyao-client/mediasoup-client"]
	path = taoyao-client/mediasoup-client
	url = https://gitee.com/acgist/mediasoup-client.git
	branch = taoyao
[submodule "taoyao-android/libmediasoupclient"]
	path = taoyao-android/libmediasoupclient
	url = https://gitee.com/acgist/libmediasoupclient.git
	branch = taoyao
[submodule "taoyao-desktop/libmediasoupclient"]
	path = taoyao-desktop/libmediasoupclient
	url = https://gitee.com/acgist/libmediasoupclient.git
	branch = taoyao