[submodule "taoyao-client-media/mediasoup"]
	path = taoyao-client-media/mediasoup
	url = https://github.com/versatica/mediasoup.git
[submodule "taoyao-client-web/mediasoup-client"]
	path = taoyao-client-web/mediasoup-client
	url = https://github.com/versatica/mediasoup-client.git
[submodule "taoyao-client-android/libmediasoupclient"]
	path = taoyao-client-android/libmediasoupclient
	url = https://github.com/versatica/libmediasoupclient.git
