.cxx
.idea
.test
.hvigor
.clangd
.clang-tidy
.clang-format
local.properties
oh-package-lock.json5

build
oh_modules
node_modules

media/src/main/cpp/deps/webrtc
media/src/main/cpp/deps/libmediasoupclient
